.git
.gitignore
.env
.env.backup
.gitattributes
node_modules
npm-debug.log
yarn-error.log
vendor
composer.lock
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/vendor
public/aimeos
ASSAN_OPENCODE_FIRST_TEST.md
.editorconfig
phpunit.xml